<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TickIt</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">

    <link rel="stylesheet" type="text/css" href="assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/text.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/unsemantic-grid-base.css" />

    <script src="assets/js/jquery.js"></script>

    <script>
        var ADAPT_CONFIG =
        {
            path: 'assets/css/',
            dynamic: true,
            range:
                    [
                        '0 to 767px     =   unsemantic-grid-mobile.css' ,
                        '768 to 1024px  =   unsemantic-grid-tablet.css' ,
                        '1025px         =   unsemantic-grid-desktop.css'
                    ],
            callback: function( i , width )
            {

            }
        };
    </script>
    <script src="assets/js/adapt.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="assets/js/vue/vue.js"></script>
    <script src="assets/js/vue/vue-resource.min.js"></script>
    <script src="assets/js/hammer.min.js"></script>
    <script src="assets/js/vue/vue-touch.min.js"></script>
    <script src="assets/js/vue/vue-async-data.js"></script>
    <script src="assets/js/vue/vue-router.min.js"></script>
    <script src="assets/js/vue/vue-loader.js"></script>
    <script src="assets/js/vue/vue-boot.js"></script>

    <script src="assets/js/firebase.js"></script>
    <script src="assets/js/firebase-boot.js"></script>

    <script src="assets/js/colour.js"></script>
    <script src="assets/js/moment-with-locales.js"></script>
    <script src="tpl/tickit.js"></script>

    <style>
        [v-cloak]
        {
            display: none;
        }

        table#board-grid tr th ,
        table#board-grid tr td
        {
            width: 20px;
            height: 20px;
            font-size: 80%;
            text-align: center;
            vertical-align: middle;
        }

        table#board-grid tr td
        {
            cursor: pointer;
        }
    </style>

</head>
<body>

<div class="grid-container" id="app">

    <nav class="grid-100 grid-parent" style="margin-top: 20px;">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="index.html">WTF</a></li>
            <li role="presentation"><a href="register.html">Sign Up</a></li>
            <li role="presentation" class="active"><a href="app.html">Sign In & Play</a></li>
        </ul>
    </nav>
    <hr />

    <section class="grid-50 grid-parent" id="user-ctrl">

        <div class="form-group" v-show="!loggedUserName" v-cloak>
            <div class="btn-group" role="group">
                <button @click.prevent="signIn" type="button" class="btn btn-success">Login</button>
                <a href="register.html" class="btn btn-info">Register</a>
            </div>
        </div>

        <div class="form-group" v-show="loggedUserName" v-cloak>
            <div class="btn-group" role="group">
                <button @click.prevent="signOut" type="button" class="btn btn-danger">Sign out</button>
                <button @click.prevent="goProfile" type="button" class="btn btn-info">{{ loggedUserName }}</button>
            </div>
        </div>

    </section>

    <section class="grid-50 grid-parent">
        <div v-cloak>
            <strong>{{ $route.name }}</strong>
            <code>{{ $route.path }}</code>
        </div>
    </section>

    <hr />

    <section class="grid-100 grid-parent" id="">

        <nav class="" style="" v-show="loggedUserName" v-cloak>
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" :class="isCurrentRoute('profile') ? 'active' : ''"><a v-link="{ name: 'profile' }">Profile</a></li>
                <li role="presentation" :class="isCurrentRoute('lobby') ? 'active' : ''"><a v-link="{ name: 'lobby' }">Lobby</a></li>
                <li role="presentation" :class="isCurrentRouteGame() ? 'active' : ''"><a v-link="{ name: 'game' }">Game</a></li>
            </ul>
        </nav>

        <!--<a v-link="{ path: '/b' }">Go to b</a>
        <a v-link="{ path: '/c' }">Go to c</a>
        <a v-link="{ path: '/c/d' }">Go to c/d</a>
        <a v-link="{ name: 'login' }">Login</a>
        <a v-link="{ name: 'profile' }">Profile</a>
        <a v-link="{ name: 'lobby' }">Go to lobby</a>-->


        <router-view></router-view>

    </section>

    <div class="form-group" v-show="loggedUserName" v-cloak>
        <div class="btn-group" role="group">
            <a v-link="{ name: 'profile' }" class="btn btn-primary">Profile</a>
            <a v-link="{ name: 'lobby' }" class="btn btn-primary">Lobby</a>
            <a v-link="{ name: 'game' }" class="btn btn-primary">Game</a>
        </div>
    </div>

    <section class="grid-100 grid-parent" id="log-cntnr">
        <script type="x/template" id="log-view-tpl" data-name="log-view"></script>
        <component is="log-view"></component>
    </section>

    <script type="x/template" id="login-tpl" data-name="login"></script>
    <script type="x/template" id="lobby-tpl" data-name="lobby"></script>
    <script type="x/template" id="profile-tpl" data-name="profile"></script>
    <script type="x/template" id="game-tpl" data-name="game"></script>
    <script type="x/template" id="game-create-tpl" data-name="game-create"></script>
    <script type="x/template" id="game-lobby-tpl" data-name="game-lobby"></script>
    <script type="x/template" id="game-play-tpl" data-name="game-play"></script>

    <script src="tpl/app.js"></script>
    <script>
        var router  =   new VueRouter({ linkActiveClass : 'active' });

        Vue.mountComponent( '#log-view-tpl' )
        .then( function()
        {
            var cmpnts = [
                '#login-tpl' , '#lobby-tpl' , '#profile-tpl' ,
                '#game-tpl' , '#game-create-tpl' , '#game-lobby-tpl' ,
                '#game-play-tpl'
            ];

            return Vue.loadComponents( cmpnts );
        })
        .then(function()
        {
            router.map({
                '/': {
                    component:  Vue.extend({
                        ready   :   function()
                        {
                            router.go({ name : 'lobby' });
                        }
                    })
                },

                '/login': {
                    name: 'login' ,
                    component: Vue.getComponent( 'login' )
                },

                '/lobby': {
                    name: 'lobby' ,
                    component: Vue.getComponent( 'lobby' ) ,
                    auth : true
                },

                '/profile': {
                    name: 'profile' ,
                    component: Vue.getComponent( 'profile' ) ,
                    auth : true
                },

                '/game': {
                    name: 'game' ,
                    component: Vue.getComponent( 'game' ),
                    auth : true ,
                    subRoutes: {
                        '/create': {
                            name: 'game-create' ,
                            component:  Vue.getComponent( 'game-create' )
                        },
                        '/lobby/:gameId': {
                            name: 'game-lobby' ,
                            component:  Vue.getComponent( 'game-lobby' )
                        },
                        '/play/:gameId': {
                            name: 'game-play' ,
                            component:  Vue.getComponent( 'game-play' )
                        }
                    }
                },

                // plain component options object
                '/b': {
                    component: {
                        template: '<p>Hello from /b</p>'
                    }
                },
                // nested routes
                '/c': {
                    component: {
                        // simply render the child view
                        template:  'C ' + '<router-view></router-view>'
                    },
                    subRoutes: {
                        // rendered when the path is /c/d
                        '/d': { component: { template: 'D' }},
                        // rendered when the path is /c/e
                        '/e': { component: { template: 'E' }}
                    }
                }
            });

            router.beforeEach(function(trans)
            {
                if( trans.to.auth && !firebase.auth().currentUser && trans.to.name !== 'login'  )
                {
                    trans.redirect('/login');
//            trans.abort('you need to log in');
                }
                else
                {
                    trans.next();
                }
            });

            router.start( Vue.extend( app ) , "#app" );
        });
    </script>

    <hr />
    <footer class="grid-100 small" style="margin-bottom: 20px;">
        kor3k &copy; Aliens from Uranus
    </footer>

</div>

</body>
</html>